.app_wrapper{
    
    display: flex;
}

.app_wrapper Chat{
    display: flex;
}
.ChannelContainer{
    background-color: rgb(56, 7, 61);
    width: 100%;
    padding: 1rem;
    
}
.ChannelListContainer{
    width: 350px;
    background-color: black;
    display: flex;
}

.str-chat__channel-list.str-chat__channel-list-react{
    height: fit-content;
    width: 100%;
    background-color: red;
}

.channel-list__container{
    display: flex;
}
.user-item__name-wrapper{
    display: flex;
}
.str-chat.str-chat-channel.str-chat__channel{
    background-color: rgb(35, 2, 41);
}
.str-chat__input-flat-emojiselect{
    margin-left: 0;
    width: 29px;
}
.str-chat.messaging.str-chat.commerce {
    background : black;

}
.messaging.str-chat .str-chat__list {
    background-color: rebeccapurple;
}