@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body{
  background-color: #131324;
 
  box-sizing: border-box;
}
body,
button,
input {
  font-family: "Josefin Sans", sans-serif;
}





.auth__form-container{

   display: grid;
  place-items: center;
  min-height: 115vh;
  background-color: #131324;
    background-color: #131324;
    }


.auth__form-container_fields
{
    
    

display: flex;
flex-direction: column;
justify-content: center;
gap: 1rem;
align-items: center;
background-color: #131324;
}
h1 {
    color: white;
    text-transform: uppercase;
  }
 form{
  
    display: flex;
    flex-direction: column;
    
justify-content: center;
gap: 1rem;
align-items: center;
    background-color: #00000076;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding-left: 3rem ;
    padding-right: 5rem;
    padding-top: 1rem;
    margin: 0 auto

  }
 

  button 
  {
    background-color: #4e0eff;
    color: white;
    width: 100%;
    padding: 1rem 2rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.4rem;
    font-size: 1rem;
    text-transform: uppercase;
    margin-left: 15px;
    margin-right: auto;
 
    &:hover {
      background-color: #4e0eff;

    }
}

input {
    background-color: transparent;
    padding: 1rem;
    border: 0.1rem solid #4e0eff;
    border-radius: 0.4rem;
    color: white;
    width: 100%;
    
    font-size: 1rem;
   
    &:focus {
      border: 0.1rem solid #997af0;
      outline: none;
    }
}
span {
    color: white;
    text-transform: uppercase;
    a {
      color: #4e0eff;
      text-decoration: none;
      font-weight: bold;
    }
  }
  img {
    height: 3rem;
  }
  .heading{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    background-color: #00000076;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
   
   
  
  }

 
